<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <!-- <link th:href="@{application.css}" rel="stylesheet">-->
    <style>
        a:link{
            background: none;
            text-decoration: none;
            text-align: justify-all;
            color: black;
            text-align: center;
            font-size: 23px;
            font-family: "Lucida Console";
            text-align: center;
        }
        body{
            background-image: url("work.png");
            background-repeat:repeat;
            background-size: cover;
            -webkit-background-image: url("work.png");
        }
        form{
            text-decoration: none;
            font-family: "Lucida Console";
            font-size: 23px;
            text-align: center;
        }

    </style>
</head>
<body>

<div class="container my-5">
    <h2 class="mb-5">Schedule Date</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        From Date:
                        <input type="date" value=" date1" name="date1">

                    </div>
                    <div class="form-group col-md-6">
                        To Date:
                        <input type="date" value="date2" name="date2">
                    </div>



                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit"  value="schedule">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>


























<!--<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/greeting}" th:object="${employee}" method="post">
    <p>Id: <input type="text" th:field="*{id}" /> </p>
    <p>Message: <input type="text" th:field="*{id}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>-->