<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{app.title}"> Title </title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1 th:text="#{app.user-details}">Details</h1>
<table>
    <tr>
        <th th:text="#{user.id}"/></th>
        <th th:text="#{user.name}"></th>
        <th th:text="#{user.gender}"></th>
        <th th:text="#{user.married}+ '?'"></th>
        <th th:text="#{user.profile}"></th>
    </tr>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.userId}">Id</td>
        <td th:text="${user.userName}">Title</td>
        <td th:text="${user.gender}">Gender</td>
        <td th:text="${user.married}">Married</td>
        <td th:text="${user.profile}">Profile</td>
    </tr>
</table>
</body>
</html>
