<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Available Slots</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{resources/static/style.css}" rel="stylesheet">
    <link type="text/css" href="/resources/static/style.css" rel="stylesheet" />
    <style>
    #slots {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

     td, th {
    border: 1px solid #ddd;
    padding: 8px;
    }

     tr:nth-child(even){background-color: #f2f2f2;}

     tr:hover {background-color: #ddd;}

    th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    }

    #slotContent{
            column-rule-width: 5px;
            column-rule-color: darkred;
        }

</style>
</head>
<body>
<form th:object="${timeslot}" th:action="@{/submitSchedule}" method="post">
    <table id="slots">
        <tr>
            <th>Date</th>
            <th>Day</th>
            <th>Slots</th>

        </tr>
        <tr>
            <td th:text="${date}">1/3/19 test</td>
            <td>Monday</td>
            <td><ul style="list-style-type: none">
                <li id="slotContent"> slot1<input type="radio"name="mondayRadioName" value="mondayRadioSlot1"/></li>
                <li> slot2<input type="radio"name="mondayRadioName"  value="mondayRadioSlot2"></li>
                <li> slot3<input type="radio"name="mondayRadioName"  value="mondayRadioSlot3"></li>
                <li> slot4<input type="radio"name="mondayRadioName"  value="mondayRadioSlot4"></li>
                <li> slot5<input type="radio"name="mondayRadioName"  value="mondayRadioSlot5"></li>
                <li> slot6<input type="radio"name="mondayRadioName"  value="mondayRadioSlot6"></li>
            </ul>

            </td>
        </tr>
        <tr>
            <td>2/3/19</td>
            <td>Tuesday</td>
            <td><ul style="list-style-type: none">
                <li> slot1<input type="radio"name="tuesdayRadioName" value="slot1"></li>
                <li> slot2<input type="radio"name="tuesdayRadioName" value="slot2"></li>
                <li> slot3<input type="radio"name="tuesdayRadioName" value="slot3"></li>
                <li> slot4<input type="radio"name="tuesdayRadioName" value="slot4"></li>
                <li> slot5<input type="radio"name="tuesdayRadioName" value="slot5"></li>
                <li> slot6<input type="radio"name="tuesdayRadioName" value="slot6"></li></ul>
            </td>

        </tr>
        <tr>
            <td>3/3/19</td>
            <td>Wednesday</td>
            <td><ul style="list-style-type: none">
                <li> slot1<input type="radio"name="wednesdayRadioName" value="slot1"></li>
                <li> slot2<input type="radio"name="wednesdayRadioName" value="slot2"></li>
                <li> slot3<input type="radio"name="wednesdayRadioName" value="slot3"></li>
                <li> slot4<input type="radio"name="wednesdayRadioName"value="slot4"></li>
                <li> slot5<input type="radio"name="wednesdayRadioName" value="slot5"></li>
                <li> slot6<input type="radio"name="wednesdayRadioName" value="slot6"></li> </ul>
            </td>
        </tr>
        <tr>
            <td>4/3/19</td>
            <td>Thursday</td>
            <td><ul style="list-style-type: none">
                <li> slot1<input type="radio"name="thursdayRadioName" value="slot1"></li>
                <li> slot2<input type="radio"name="thursdayRadioName" value="slot2"></li>
                <li> slot3<input type="radio"name="thursdayRadioName" value="slot3"></li>
                <li> slot4<input type="radio"name="thursdayRadioName" value="slot4"></li>
                <li> slot5<input type="radio"name="thursdayRadioName" value="slot5"></li>
                <li> slot6<input type="radio"name="thursdayRadioName" value="slot6"></li>
            </ul>
            </td>
        </tr>
        <tr>
            <td>5/3/19</td>
            <td>Friday</td>
            <td><ul style="list-style-type: none">
                <li> slot1<input type="radio"name="fridayRadioName" value="slot1"></li>
                <li> slot2<input type="radio"name="fridayRadioName" value="slot2"></li>
                <li> slot3<input type="radio"name="fridayRadioName" value="slot3"></li>
                <li> slot4<input type="radio"name="fridayRadioName" value="slot4"></li>
                <li> slot5<input type="radio"name="fridayRadioName" value="slot5"></li>
                <li> slot6<input type="radio"name="fridayRadioName"value="slot6"></li>       </ul>
            </td>
        </tr>
        <tr>
            <td>6/3/19</td>
            <td>Saturday</td>
            <td><ul style="list-style-type: none">
                <li> slot1<input type="radio"name="saturdayRadioName" value="slot1"></li>
                <li> slot2<input type="radio"name="saturdayRadioName"value="slot2"></li>
                <li> slot3<input type="radio"name="saturdayRadioName"value="slot3"></li>
                <li> slot4<input type="radio"name="saturdayRadioName" value="slot4"></li>
                <li> slot5<input type="radio"name="saturdayRadioName"value="slot5"></li>
                <li> slot6<input type="radio"name="saturdayRadioName"value="slot6"></li>   </ul>
            </td>
        </tr>
        <tr>
            <td>7/3/19</td>
            <td>Sunday</td>
            <td><ul style="list-style-type: none">
                <li> slot1<input type="radio"name="sundayRadioName" value="slot1"></li>
                <li> slot2<input type="radio"name="sundayRadioName" value="slot2"></li>
                <li> slot3<input type="radio"name="sundayRadioName" value="slot3"></li>
                <li> slot4<input type="radio"name="sundayRadioName" value="slot4"></li>
                <li> slot5<input type="radio"name="sundayRadioName" value="slot5"></li>
                <li> slot6<input type="radio"name="sundayRadioName" value="slot6"></li>
            </ul>
            </td>
        </tr>
            </table>
    <input type="submit" value="Submit">

</form>

</body>
</html>