<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:font-family="http://www.w3.org/1999/xhtml">
<head>
    <title>Available Slots</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{resources/static/style.css}" rel="stylesheet">
    <link type="text/css" href="/resources/static/style.css" rel="stylesheet" />
    <style>
        #table {
    border-collapse: collapse;
    }

    table, th, td {
    border: 1px solid black;
    }
    </style>


</head>
<body>
        <td th:text="${timeSlot.mondayRadioName}">Monday</td>
        <td th:text="${timeSlot.tuesdayRadioName}">Tuesday</td>
        <td th:text="${timeSlot.wednesdayRadioName}">Wednesday</td>
        <td th:text="${timeSlot.thursdayRadioName}">Thursday</td>
        <td th:text="${timeSlot.fridayRadioName}">Friday</td>
        <td th:text="${timeSlot.saturdayRadioName}">Saturday</td>
        <td th:text="${timeSlot.sundayRadioName}">Sunday</td>






</body>
</html>